*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
*::selection{
    background-color: #000000;
    color: white;
}
.floaty :hover{
    transform: translateY(-5px);
    transition: all .3s ease-in-out;
    text-decoration: underline;
}
.floaty hr{
    height: 1px;
    background-color: #a6a5a2;
    padding: .5px .5px;
}
a{
    text-decoration: none;
    color: #000;
}
h1{
    text-align: center;
}
.inline-leftarrw{
    display: inline-block;
    vertical-align: top;
}
.bottomleftarrw{
    border: 2px solid black; 
    overflow: hidden;
    border-bottom: 0px;
}
.bottomleftarrw img{
    float:left;
    width: 90px;
    height: 70px;
}
.bottomleftarrw p{
    float: left;
    font-size: 2em;
}
.bottomrightarrw{
    border: 2px solid black; 
    overflow: hidden;
}
.bottomrightarrw img{
    float:right;
    width: 90px;
    height: 70px;
}
.bottomrightarrw P{
    float:right;
    font-size: 2em;
    padding-right: 200px;
}
.maincontent ul{
    padding-left: 35px;
    list-style-type: upper-roman;
    line-height: 30px;
}
/* *::before{
    background-image: url(vlabbg.png);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 50%;
} */
